<md-content class="Page-Container DemoHeader">
    <div layout="row">
        <div flex="90" flex-offset="5" class="DemoHeader-container">
            <div layout="row" layout-align="space-between">
                <img src="img/icons/logo.svg" ui-sref="app.landing" class="DemoHeader-logo"/>
                <div layout="row" layout-align="center stretch">
                    <a hide-xs class="DemoHeader-link md-subhead" href="#/create-group">Groups</a>
                    <a hide-xs class="DemoHeader-link md-subhead" href="#/activity">Activities</a>
                    <a hide-xs class="DemoHeader-link md-subhead" href="#/question">Questions</a>
                    <a hide-xs class="DemoHeader-link md-subhead" href="#/list-evaluates">Evaluate-list</a>
                    <a hide-xs class="DemoHeader-link md-subhead" href="#/create-activity">
                        <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                    </a>
                    <!--<a hide-xs class="DemoHeader-link md-subhead" href="#/create-post">Posts</a>-->
                    <!--<md-button href="#/create-activity" class="md-icon-button md-primary" aria-label="Settings">-->
                        <!--<md-icon md-svg-icon="img/icons/menu.svg"></md-icon>-->
                    <!--</md-button>-->
                </div>
            </div>
        </div>
    </div>
</md-content>
<div class="DemoHeader-spacer"></div>